.additional-card {

  &__title {
    font: 400 16px / 16px @heading;
    .text-color(@dark);
    .uppercase;
  }

  &__quantity {
    font: 400 14px / 14px @text;
    .text-color;
  }

  &__price {
    font: 400 14px / 14px @text;
    .text-color;
  }
}
