.address {

  &__title {
    margin: 0;
    font: @regular 16px / 18px @heading;
    .uppercase;
    .heading-color;
  }

  &__house {
    margin: 0;
    font: @regular 14px / 20px @text;
    .text-color;
  }

  &__city {
    margin: 0;
    font: @regular 14px / 20px @text;
    .text-color;

  }
}
