.btn {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 7px;

  font: 400 14px / 18px @heading;
  .white-color;
  text-align: center;

  .background(@green);
  border: none;
}
