.diet-selection {

  .background(@green);
  .white-color;

  &__title {
    font: 500 36px / 36px @heading;
  }

  &__subtitle {
    font: 400 14px / 14px @heading;
    text-transform: uppercase;
  }

  &__btn {
    .background(@green);
    .white-color;
  }
}

