.diet-programs {
  .reset-list-style;

}

.program-card {
  .background(@grey);

  &__heading {
    font: 400 24px / 37px @heading;
    .uppercase;
    .heading-color;
  }

  &__subtitle {
    font: 400 14px / 18px @text;
    .text-color;
  }

  &__link {
    font: 400 16px / 16px @heading;
    .uppercase;
    .heading-color;
  }

}
