.diet-selection {
  .white-color;

  background:
  linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 65%, @white 65%),
  no-repeat center 0 / auto 65%
  url(../../img/diet-selection/index-background-mobile@1x.jpg),
  linear-gradient(to right, #4E4D52 50%, #414045 50%);

  @media (min-resolution: 2dppx) {
    background:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 65%, @white 65%),
    no-repeat center 0 / auto 65%
    url(../../img/diet-selection/index-background-mobile@2x.jpg),
    linear-gradient(to right, #4E4D52 50%, #414045 50%);
  }

  @media(min-width: @tablet-width) {
    background: none;
    .heading-color;
  }

  @media(min-width: @desktop-width) {
    height: 470px;
    &::after {
      background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url(../../img/diet-selection/index-background-desktop@1x.jpg);
      content: "";
      position: absolute;
      width: 50%;
      height: 696px;
      background-repeat: no-repeat;
      background-position: right top;
      background-size: auto 100%;
      background-color: #4F4F51;
      top: 0;
      right: 0;
      z-index: -2;
    }
  }

  @media (min-width: @desktop-width) and (min-resolution: 2dppx) {
    &::after {
      background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url(../../img/diet-selection/index-background-desktop@2x.jpg);
    }
  }


}


.diet-selection__wrapper {
  max-height: 100%;
  display: flex;
  padding-top: 27px;
  padding: 27px 20px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media(min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    text-align: start;
  }

  @media(min-width: @desktop-width) {
    width: 1220px;
    flex-wrap: wrap;
  }
}


.diet-selection__title {
  .margin-bottom-all-devices(25px, 40px);
  .font-all-devices(
    400, 36px, 40px, @heading,
    400, 60px, 60px, @heading);

  @media(min-width: @tablet-width) {
    margin-left: 80px;
  }

  @media(min-width: @desktop-width) {
    margin-left: 89px;
    padding-top: 30px;
  }
}


.diet-selection__subtitle {
  .margin-bottom-all-devices(29px, 49px, 52px);
  .font-all-devices
    (400, 14px, 14px, @heading,
    400, 20px, 20px, @heading);
  text-transform: uppercase;

  @media(min-width: @tablet-width) {
    margin-left: 80px;
  }

  @media(min-width: @desktop-width) {
    margin-left: 89px;
  }
}


.diet-selection__product-picture-wrapper {
  width: 100%;
  max-width: 500px;
  margin-bottom: 3px;

  @media(min-width: @tablet-width) {
    margin-top: -60px;
    max-width: 100%;
    align-self: center;
    order: 2;
    z-index: -1;
  }

  @media(min-width: @desktop-width) {
    margin-left: -620px;
    margin-top: 0;
    width: 552px;
    order: 2;
  }
}


.diet-selection__btn {
  width: @mobile-content-width;
  .font-all-devices
    (400, 14px, 18px, @heading,
    400, 20px, 20px, @heading);
  .uppercase;
  .white-color;
  .background(@green);

  @media(min-width: @tablet-width) {
    width: 244px;
    margin-left: 80px;
    padding: 14px 7px;
  }

  @media(min-width: @desktop-width) {
    margin-left: 89px;
  }
}
