.diet-programs {
  .reset-list-style;

}

.program-card {

  &__heading {
    font: 400 24px / 37px @heading;
    .uppercase;
  }

  &__subtitle {
    font: 400 14px / 18px @text;
  }

  &__link {
    font: 400 16px / 16px @heading;
    .uppercase;
  }

}
