.example-diet {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__text, &__interactive {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    &__text, &__interactive {
      width: 40%;
    }

  }
  .background(@middle-grey);
}
