.example-data {
  .reset-list-style;

  &__stats {
    &--price {
    }
  }

  &__parameter {
    font: @regular 12px / 12px @text;
    .lowercase;
    .text-color;

    &--price {
      font: @regular 14px / 20px @heading;
      .uppercase;
      .heading-color;
    }
  }

  &__value {
    font: @regular 24px / 24px @heading;
    .heading-color;

    &--price {
      font: @regular 14px / 20px @heading;
      .uppercase;
      .heading-color;
    }
  }
}
