.example-interactive {
  margin-bottom: 25px;

  &__img-wrapper {
    .wrapper-width-all-devices(100%, 100%, 650px);
    height: 240px;
    @media (min-width: @tablet-width) {
      height: auto;
    }
  }

  &__img {
    max-width: none;
    width: inherit;
    &--inactive {
      display: none;
    }
  }
}


.diet-slider {
  display: flex;
  .wrapper-width-all-devices(228px, 590px, 584px);
  box-sizing: border-box;
  margin: 0 27px;
  padding: 0 15px;
  gap: 12px;
  flex-direction: row;
  justify-content: space-between;

  &__parameter {
    width: fit-content;
    .font-all-devices(
      @regular, 16px, 20px, @heading,
      @regular, 20px, 30px, @heading
    );
    .uppercase;
    .heading-color;

    @media(min-width: @tablet-width) {
      text-decoration: underline dotted;
    }

    &:last-child {
      text-align: end;
    }
  }

  &__rail {
    display: flex;
    flex-grow: 1;
    height: 14px;
    padding: 0 5px;
    background-color: @white;
    border-radius: 6px;
    border: 1px solid #CDCDCD;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      height: 6px;
      margin: auto 0;
      background-color: #DCDCDC;
      border: none;
      cursor: default;
    }
  }
}

.diet-slider__btn {
  margin: auto auto auto 0;
  width: 50%;
  border: none;
  box-sizing: border-box;
  height: 6px;
  background-color: @green;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 34px;
    height: 34px;
    margin-top: -14px;
    box-sizing: border-box;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    background-color: @white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: calc(50% - 0.5*8px);
      left: calc(50% - 0.5*8px);
      border-radius: 50%;
      background-color: @green;
    }
  }

  @media (max-width: @mobile-width-only) {

    &--before {
      animation-name: toggle-btn-before;
      animation-duration: 400ms;
      animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }

    &--after {
      animation-name: toggle-btn-after;
      animation-duration: 400ms;
      animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

      margin: auto 0 auto auto;
    }
  }
}
