.example-interactive {

  &__img-wrapper {
    .wrapper-width-all-devices(100%, 100%, 650px);
  }

  &__img {
    max-width: none;
    &--after {
      display: none;
    }
  }
}


.diet-slider {
  &__parameter {
    font: @regular 16px / 20px @heading;
    .uppercase;
    .heading-color;
  }
}
