.food-catalog {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 280px;
    @media (min-width: @tablet-width) {
      width: 324px;
    }

    @media (min-width: @desktop-width) {
      width: 245px;
    }
  }
}
