// HEADER-LOGO

.header-logo__link {

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-logo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-logo__picture {
  img {
    @media(min-width: @tablet-width) {
      width: 61px;
      height: auto;
    }

    @media(min-width: @desktop-width) {
      width: 71px;
    }
  }
}


.header-logo__name {
  @media(min-width: @tablet-width) {
    margin-left: 12px;
  }

  @media(min-width: @desktop-width) {
    margin-left: 14px;
  }
}



//FOOTER-LOGO

.footer-logo {
  padding: 39px 0 32px;
}


.footer-logo__link {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
