.main-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  font: 500 20px / 20px @heading;
  text-transform: uppercase;
  .heading-color;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    position: relative;
    padding: 12px 0 22px;
    justify-content: space-between;
    align-items: center;
    .decorative-bottom-line;

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }

  &__logo-picture {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__logo-name {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &__logo-tablet {
    @media (max-width: @mobile-width-only) {
      display: none;
    }

    @media (min-width: @tablet-width) {
      svg {
        width: 174px;
        height: 62px;
      }
    }

    @media (min-width: @desktop-width) {
      svg {
        width: 202px;
        height: 60px;
      }
    }

    &--desktop-items {
      display: none;
      @media (min-width: @desktop-width) {
        display: block;
      }
    }
  }

  &__toggle-btn {
    position: relative;
    width: 19px;
    height: 19px;
    .background(transparent);
    border: none;
    font-size: 0;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      display: none;
    }

    &--close-menu {
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        left: 0;
        .background(@black);
        transform: rotate(45deg);
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 25px;
        height: 2px;
        left: 0;
        .background(@black);
        transform: rotate(-45deg);
      }
    }

    &--open-menu {
      width: 25px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        top: 0;
        left: 0;
        .background(@black);
        box-shadow:
          0 8px 0 0 @black,
          0 16px 0 0 @black;
      }
    }
  }

  &__list {
    .reset-list-style;
    display: flex;
    flex-direction: column;

    &--menu-closed {
      @media (max-width: @mobile-width-only) {
        display: none;
      }
    }

    @media (min-width: @tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -36px;
    }
  }
  &__item {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 64px;
    box-sizing: border-box;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    .decorative-bottom-line;

    @media (min-width: @tablet-width) {
      width: initial;
      min-height: 25px;
      margin-right: 36px;
      padding: 0;

      &--current {
        border-bottom: 2px solid @green;
      }
    }
  }
  &__link {
    .heading-color;
  }
}
