.page-header {
  width: 100%;
  overflow: hidden;
  .margin-bottom-all-devices(25px, 65px, 74px);

  @media (max-width: @mobile-width-only) {
    &--without-mobile-margin {
      margin-bottom: 0;
    }
  }

  &__wrapper {
    display: flex;
    .wrapper-width-all-devices(@mobile-content-width,
      @tablet-content-width, @desktop-content-width);
    margin: 0 auto;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding-top: 25px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 64px;
    }
  }

}
