// Начните писать стили здесь

//GLOBAL
a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

@import "reset-styles.less";
@import "font.less";
@import "colors.less";
@import "visually-hidden.less";


//BLOCKS

@import "blocks/btn.less";

//HEADER
@import "blocks/main-nav.less";

//MAIN-PAGE
@import "blocks/main.less";

@import "blocks/diet-block.less";
  @import "blocks/diet-selection.less";
  @import "blocks/diet-programs.less";

@import "blocks/advantages.less";

@import "blocks/example-diet.less";
  @import "blocks/example-data.less";
  @import "blocks/interactive-example.less";

//MAIN-FORM
@import "blocks/programs-form.less";
  @import "blocks/programs-fieldset.less";

//MAIN-CATALOG
@import "blocks/food-catalog.less";
  @import "blocks/food-card.less";
    @import "blocks/table-features.less";

@import "blocks/additional-products.less";
  @import "blocks/additional-card.less";

@import "blocks/aside-gift.less";

//FOOTER
@import "blocks/address.less";
@import "blocks/socials.less";
