
//GLOBAL
body {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

//VIEWPORTS

@tablet-width: 718px;
@desktop-width: 1230px;
@mobile-width-only: 717.99px;


@import "reset-styles.less";
@import "font.less";
@import "colors.less";
@import "visually-hidden.less";
@import "templates.less";


//BLOCKS

@import "blocks/btn.less";

//HEADER
@import "blocks/page-header.less";
  @import "blocks/logo.less";
  @import "blocks/main-nav.less";

//MAIN-PAGE
@import "blocks/main.less";

@import "blocks/diet-block.less";
  @import "blocks/diet-selection.less";
  @import "blocks/diet-programs.less";

@import "blocks/advantages.less";

@import "blocks/example-diet.less";
  @import "blocks/example-text.less";
    @import "blocks/example-data.less";
  @import "blocks/example-interactive.less";

//MAIN-FORM
@import "blocks/programs-form.less";
  @import "blocks/programs-fieldset.less";

//MAIN-CATALOG
@import "blocks/food-catalog.less";
  @import "blocks/food-card.less";
    @import "blocks/table-features.less";

@import "blocks/additional-products.less";
  @import "blocks/additional-card.less";

@import "blocks/aside-gift.less";

//FOOTER
@import "blocks/address.less";
@import "blocks/socials.less";


.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  min-width: 320px;
}

.decorative-bottom-line {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -80%;
    width: 800px;
    height: 1px;
    .background(@grey-line);
  }

  @media (min-width: @tablet-width) {
    &::after {
      display: none;
    }
  }
}
